* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

img { 
    width: 100%;
    height: 100%;
}

a { 
    color: white;
    text-decoration: none;
}
/* Button Styling */
.primary-btn {
    display: inline-block;
    color: #F9FAF8;
    background-color: #3882F6;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 50px;
}
/* Background Video */
.backgroundVideo #videoBG {
    position: fixed;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: 2;
}



/* Hero */
#hero {
    height: 100vh;
    width: 100%;
    background-color: #1F2937;
}

#hero .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    max-width: 1000px;
}

#hero .container .left-side {
    flex: 6;
}

#hero .container .right-side {
    flex: 8;
}

#hero .left-side .heading {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

#hero .buttons {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

#hero .left-side .buttons .primary-btn{
    display: inline-block;
    color: #F9FAF8;
    background-color: #3882F6;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 50px;
}

#hero .right-side {
    text-align: right;
}
#hero .right-side img {
    width: 100%;
    max-width: 450px;
    height: 600px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 12px;
}

/* Navbar */

#navbar {
    background-color: #1F2937;
    
}

#navbar .container {
    padding: 30px 30px;
}

.logo {
    cursor: pointer;
}

.logo a {
    font-size: 24px;
    color: #F9FAF8;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}

.logo a:hover {
    color: #0088a9;
}


.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 24px
}

.nav-links li {
    display: flex;
    
}

.nav-links li a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    transition: all 0.5s ease 0s;
}

.nav-links li a:hover {
    color: #0088a9;
}


/* Footer */

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    margin-top: auto;
    
    
}

#footer .footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#footer .social-links {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
}
#footer .social-links a {
    width: 50px;
    height: 50px;
    background-color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #000;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.25);
    margin: 0 30px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
}

#footer .social-links a .fa-brands {
    font-size: 30px;
    line-height: 50px;
    position: relative;
    z-index: 10;
    transition: color 0.5s;
}

#footer .social-links a::after {
    content: '';
    width: 100%;
    height: 100%;
    top: -90px;
    left: 0;
    background: linear-gradient(-45deg, #ed1c94, #ffec17);
    position: absolute;
    transition: 0.5s;
}

#footer .social-links a:hover::after {
    top: 0;
}

#footer .social-links a:hover .fa-brands {
    color: white;
}

#footer .social-links a:hover {
    transform: translateY(-10px);
}



#footer .copyright {
    margin: 10px;
    padding: 10px;
}

#footer .copyrightName {
    color: white;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    html {
        font-size: 9px;
    }
    .navbar .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .logo {
        margin-bottom: 4px;
    }
    .navbar .container .nav-links {
        font-size: 10px;
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #hero .container {
        flex-direction: column;
    }
    #hero .container .heading {
        text-align: center;
    }
}